.carri {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #fff;
}
.poppings {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.inter {
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 100%;
letter-spacing: 0.13em;

color: #FFFFFF;
}

@media screen  and (min-width: 600px){
  .carri {
    font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #fff;

  }
  .poppings {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 96%;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  
  .inter {
      font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.13em;
  
  color: #FFFFFF;
  }
}