.nft-holder {
  width: 292px;
  height: 372px;
  /* background-image: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%); */
  border: 1px solid #d7d7d7;
  border-radius: 15px;
}

.nft-i {
  width: 260px;
  height: 265px;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  transform: translateX(16px);
  margin-top: 10px;
}
.heart {
  position: absolute;
  transform: translateX(-16px);
  margin-top: 17px;
}

