.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.meta {
    height: 32.19px;
    width: 188.1px;
    font-size: 10px;
}
.link-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  gap: 60px;
  width: 626px;
  height: 23px;
}

.links {
  text-decoration: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  height: 46px;
}

.con-btn {
  background-image: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  font-family: "Red Rose";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  height: 48px;
  width: 170px;
}
