.desc-title {
  font-family: "Red Rose" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 56px !important;
  line-height: 140% !important;
  letter-spacing: -0.02em !important;
  color: #434343 !important;
  margin: 40px !important;
}

.desc {
  margin-top: 15px !important;
  font-family: "Red Rose" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 35px !important;
  color: #434343 !important;
  margin: 40px !important;
  width: 636px !important;
}
.search-field {
  width: 390px !important;
  height: 54px !important;
  background-color: rgba(247, 247, 247, 0.1) !important;
  border: 1px solid #a3a3a3 !important;
  border-radius: 8px 0px 0px 8px !important;
  overflow: hidden;
  transform: translateX(5px);
  font-family: "Red Rose" !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.sb-btn {
  width: 230px !important;
  height: 58px;
  font-family: "Red Rose" !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  text-align: center !important;
  color: #ffffff !important;
  background-image: linear-gradient(
    90deg,
    #a02279 11.45%,
    #a02279 11.46%
  ) !important;
  border-radius: 0px 8px 8px 0px !important;
}
.meta-home-cont {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adv-text {
  /* font-family: "Red Rose" !important; */
  text-align: center;
  font-weight: 700 !important;
  font-size: 48px !important;
  line-height: 60px !important;
  color: #000000 !important;
  transform: translateY(55px);
}
